<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">  

<hibernate-configuration>    	
    <session-factory>  
        <!-- <property name="hbm2ddl.auto">update</property>   -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>  
        <!-- <property name="connection.url">jdbc:mysql://vaio.notepubs.com/notepubsdb?serverTimezone=UTC</property> -->
        <property name="connection.url">jdbc:mysql://vaio.notepubs.com/notepubsdb?serverTimezone=UTC&amp;autoReconnect=true&amp;useSSL=false&amp;useUnicode=true&amp;characterEncoding=utf8</property>  
        <property name="connection.username">notepubs</property>  
        <property name="connection.password">cclass</property>
        <property name="show_sql">true</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>  
        <property name="hibernate.current_session_context_class">thread</property>
        
        <!-- Anotation 방법 사용할 때 -->
        <!-- <mapping class="com.answeris.hb.entity.Book"/> -->
    	
    	<!-- xml 방법을 사용할 때 -->
    	<!-- <mapping resource="com/notepubs/hb/xml/entity/mapper/Note.xml"/> -->
    </session-factory>  
  
</hibernate-configuration>